
#design{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 0 10%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    color: black;
}

#design h2{
    font-weight: 400;
    margin-bottom: 0.5em;
    margin-top: 10%;
}
#design h2 a{
    color: blue;
    margin-left: 1em;
}
#design h4{
    font-weight: 400;
    margin-top: 0.5em;
}

@media only screen and (min-width: 1300px){
   
}

@media only screen and (max-width: 600px){
    #design h2{
        margin-top: 19%;
    }
}
